<p>documentacion works!</p>

<div class="container py-4">
  <h2>Documentación</h2>
  <p>Enlaces: <a href="https://angular.io" target="_blank">Angular</a>
    <a href="https://www.typescriptlang.org" target="_blank">TypeScript</a></p>

  <div id="techCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 600px;">
    <div class="carousel-inner">
      <div class="carousel-item active"><img src="assets/angular.png" class="d-block w-100" alt="Angular"></div>
      <div class="carousel-item"><img src="assets/typescript.png" class="d-block w-100" alt="TypeScript"></div>
      <div class="carousel-item"><img src="assets/node.png" class="d-block w-100" alt="NodeJS"></div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#techCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#techCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
