<p>home works!</p>

<nav class="navbar navbar-expand-lg navbar-dark- bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/pages/home">Gestion Usuarios</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/page/home">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/page/perfil">perfil</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/page/estructuras">Estructuras</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/page/documentacion">Documentación</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/page/usuarios">Usuarios</a></li>
      </ul>
    </div>
  </div>


  <div style="margin-top: 70px;" class="container">
    <h1>Bienvenido al panel</h1>
    <p>Página de inicio.</p>
  </div>
</nav>
